common --symlink_prefix=.bazel/
common --enable_bzlmod
common --lockfile_mode=off
# common --registry=file:///%workspace%/../../obazl/registry
common --registry=https://raw.githubusercontent.com/obazl/registry/main/
common --registry=https://bcr.bazel.build


# https://github.com/bazelbuild/apple_support#toolchain-setup

build --enable_platform_specific_config
build:macos --apple_crosstool_top=@local_config_apple_cc//:toolchain
build:macos --crosstool_top=@local_config_apple_cc//:toolchain
build:macos --host_crosstool_top=@local_config_apple_cc//:toolchain

try-import .config/user.bazelrc
